<!DOCTYPE html>
<html>
<head>
  <title>The Go Playground</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.css" integrity="sha256-oQhE1gzQ/RLRlHgKfVUhrAe03FJbQLmTjY5ngEJPhdg=" crossorigin="anonymous">
  <link rel="stylesheet" href="./index.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="dialog">
    <div class="header">
      The Go Playground
    </div>
    <div class="body">
      <div class="forms">
        <form action="#" id="joinForm">
          <div class="inputs">
            <label>
              Room ID: <input type="text" name="roomId" id="roomId" maxlength="20">
            </label>
          </div>
          <button>Join</button>
        </form>
      </div>
    </div>
  </div>
  <script type="module" src="./index.js"></script>
</body>
</html>
