<!DOCTYPE html>
<!-- Original contents is available on https://github.com/syumai/go-playground-custom -->
<html>
<head>
  <title>The Go Playground - with coedit mode (unofficial) -</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.58.3/lib/codemirror.css" integrity="sha256-0wqkEinay6WmMf1F6gVEv9sHx4mSggtnkAsQm1cJX7I=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.css" integrity="sha256-oQhE1gzQ/RLRlHgKfVUhrAe03FJbQLmTjY5ngEJPhdg=" crossorigin="anonymous">
  <link rel="stylesheet" href="/app.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <header>
    <div class="title">The Go Playground</div>
    <div class="header-content">
      <div class="button-container">
        <select id="goVersion">
          <option value="gorelease">Go release</option>
          <option value="gotip">Go dev branch</option>
        </select>
        <button id="gpRunBtn" class="primary">Run</button>
        <button id="gpFmtBtn">Format</button>
        <button id="gpShareBtn">Share</button>
        <button id="gpOptionsBtn">Options</button>
      </div>
      <div class="link-to-github">
        <a href="https://github.com/syumai/gpgsync" target="_blank">GitHub</a>
      </div>
    </div>
  </header>
  <main class="app">
    <textarea id="gpBody" class="code-body"></textarea>
    <div id="gpResult" class="result"></div>
    <div id="gpOptions" class="options hidden">
      <form id="gpOptionsForm" action="#">
        <div>
          <label>
            <input type="checkbox" name="goimports">
            goimports
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="vimMode">
            Vim mode
          </label>
        </div>
        <div>
          <label>
            Tab width
            <input type="number" name="tabSize">
          </label>
        </div>
        <button>Save</button>
      </form>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.3/lib/codemirror.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.3/mode/go/go.js" integrity="sha256-Tgg9NnYSrp+/RdVXp/tw7yqwdONCRJNxfvavRgdjzdg=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.3/keymap/vim.js" integrity="sha256-3Vs/zwB+ju4BxOZ3amZj4qchA0O07FRuPntPcfYEQk8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.58.3/addon/edit/matchbrackets.js" integrity="sha256-K7D6LI9nbO/+XqhfEDHcvOL0kIxYNfzn8aFynPOqDHY=" crossorigin="anonymous"></script>
  <script>
    // Set global variables for the bundled JavaScript
    window.roomId = "<%= roomId %>";
    window.sharedContentId = "<%= sharedContentId %>";
  </script>
  <script src="/dist/room.bundle.js"></script>
</body>
</html>
